<nav class="navbar navbar-inverse">
    <div class="container-fluid container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">News</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hasopoup="true" aria-expanded="false">Feeds <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('feed_index') }}">List of Feeds</a></li>
                        <li><a href="{{ path('feed_new') }}">New Feed</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>