{% for newspaper in feed %}
    <div class="section" style="background-color:blue;padding:20px;margin:20px;border:4px solid green;">
        {% for notice in newspaper.item %}
        <article>
            <img src="{{ notice.image }}" />
            <p style="font-weight: bold;">{{ notice.title }}</p>
            <p>{{ notice.body }}</p>
            <p>{{ notice.publisher }}</p>
        </article>
        {% endfor %}
    </div>
{% endfor %}
