a{
    color: black;
    text-decoration: none;
}

.navbar, .navbar-inverse{
    margin:0 auto;
    max-width: 80%;
}

div.main-container{
    margin: 20px auto 0;
    max-width:80%;
}

.row, .well{
    position:relative;
}

.source{
    position: absolute;
    bottom:0;
    left:0;
    font-weight: bold;
}

.media{
    margin-bottom:10px;
}

.delete{
    margin-top:10px;
}

.publishedby{
    margin-top:10px;
}

.body_feed{
    padding:15px
}

.image{
    height:100%;
}

.source{
    font-weight: bold;
}

.body_title{
    font-weight: bold;
    padding:15px
}